<h2>Deployment</h2>

<p>Following steps will be triggered:</p>

<ul>
  <li>Clear <em>old</em> attachments</li>
  <li>Copy <em>current</em> attachments to external download location</li>
  <li>Cleaning cached pages</li>
  <li>Recreate all pages</li>
  <li>Cleaning assets</li>
  <li>Precompile assets</li>
  <li>Trigger <em>git commit</em> to auto deploy</li>
</ul>

<%= simple_form_for(:deploy, :url => deploy_path, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.collection_select :index_page, Page.order(:title), :id, :title %>

  <%= button_tag(:type => :submit, :class => 'btn btn-warning') do %>
    <i class="icon-download-alt icon-white"></i>
    Start process...
  <% end %>
<% end %>

