<h2>Deployment</h2>

<p>Following steps will be triggered:</p>

<ul>
  <li>Cleaning cached pages</li>
  <li>Recreate all pages</li>
  <li>Cleaning assets</li>
  <li>Precompile assets</li>
  <li>Zip results for easy deployment</li>
</ul>

<%= bootstrap_button 'Start process...', deployment_deploy_path, :type => 'btn btn-warning', :icon => 'icon-download-alt', :icon_white => true %>

