<h2>Deployment</h2>

<p>Following steps will be triggered:</p>

<ul>
  <li>Clear <em>old</em> attachments</li>
  <li>Copy <em>current</em> attachments to external download location</li>
  <li>Cleaning cached pages</li>
  <li>Recreate all pages</li>
  <li>Cleaning assets</li>
  <li>Precompile assets</li>
  <li>Trigger <em>git commit</em> to auto deploy</li>
</ul>

<%= bootstrap_button 'Start process...', deployment_deploy_path, :type => 'btn btn-warning', :icon => 'icon-download-alt', :icon_white => true %>

