<h1>Listing galleries</h1>

<%= render :partial => "pictures",
  :locals => { :pictures => @unassigned_pictures,
    :gallery_id => 0,
    :title => "unassigned pictures",
    :image_version => :small } %>

<hr />

<div class="scroll-y">
  <div class="galleries" >
    <% @galleries.each do |gallery| %>
      <%= render :partial => "pictures",
        :locals => { :pictures => gallery.pictures,
          :gallery_id => gallery.id,
          :title => gallery.name,
          :image_version => :small } %>
    <% end %>
  </div>
</div>

<div class="clearfix" />

<%= link_to 'New Gallery', new_gallery_path %>
