// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menus {
  .sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // width: 40%;

    li {
      margin: 0 5px 5px 5px;
      padding: 5px;
    }

    .menu_item {
      font-style: italic;
      font-weight: bolder;
      // width: 100%;
    }

    .submenu_item {
      font-style: normal;
      margin-left: 5%;
      // width: 100%;
    }

    .ui-state-highlight {
      // do some highlighting, if not using the jquery-ui-rails gem
    }

    .handle:hover {
      cursor: move;
    }
  }
}
